* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/body-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    margin-top: 3px;
    height: 600px;
    width: 1000px;
    background-color: aliceblue;
    margin-left: 200px;
    border: 4px solid #BF5F15;
    display: flex;
}

.container {
    display: block;
}

.container h2 {
    margin-left: 220px;
    padding-top: 40px;
    color: #BF5F15;
    font-size: 25px;
    font-family: 'Londrina Solid';
}

.container h3 {
    padding-top: 40px;
    margin-left: 40px;
    font-family: 'Bona Nova';
    font-size: 25px;
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
}

.list-name {
    display: flex;
    font-family: 'Bona Nova';
}

.list-name h3 {
    padding-left: 150px;
    font-size: 24px;
}

.list1,
.list2,
.list3 {
    display: flex;
    position: absolute;
}

.list1 {
    top: 160px;
    left: 670px;
}

.list2 {
    top: 300px;
    left: 670px;
}

.list2 h3 {
    padding-left: 220px;
}

.list3 {
    top: 450px;
    left: 670px;
}

.menu-brief {
    transition: 0.2s ease-in-out;
}

.brief1,
.brief2,
.brief3 {
    position: absolute;
    left: 670px;
    transition: 0.2s ease-in-out;
    max-width: 400px;
    /* Add this line to limit the width */
}

.brief1 {
    top: 200px;
}

.brief2 {
    top: 350px;
}

.brief3 {
    top: 500px;
}

.brief1:hover,
.brief2:hover,
.brief3:hover {
    transform: scale(1.12);
    cursor: pointer;
}

.chef-special {
    margin-top: 40px;
    height: 820px;
    width: 800px;
    background-color: aliceblue;
    border: 4px solid #BF5F15;
    margin-left: 300px;
}

.chef-special h1 {
    padding-top: 50px;
    margin-left: 250px;
    color: #BF5F15;
    font-family: 'Bona Nova';
    font-size: 50px;
    font-weight: 700;
    line-height: 115px;
}

.chef-img {
    margin-left: 150px;
    margin-top: 30px;
    mix-blend-mode: multiply;
}

.chef-header {
    display: flex;
    padding: 50px 170px;
    font-family: 'Bona Nova';
}

.chef-header h3 {
    padding-left: 170px;
    font-size: 23px;
}

.chef-menu-brief {
    margin-left: 170px;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

.chef-menu-brief:hover {
    transform: scale(1.12);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.view {
    background-color: #BF5F15;
    display: inline-block;
    padding: 10px 10px;
    margin-left: 1200px;
    margin-top: 60px;
    font-family: 'Bona Nova';
    font-size: 20px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

.view:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.view i {
    font-size: 20px;
}

.view a {
    text-decoration: none;
    color: white;
}